@charset "UTF-8";


/*PALETA DE CORES
VERDE: #49A09D
LILÃS: #5F2C82
*/

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body, html{
    background-color:#5F2C82;
    height: 100vh;
    width: 100vw;

}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515 px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #5F2C82 url(../imagens/login.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left bottom;

}

section#login > div#formulario {
    display: block;
    padding: 10px;

}


div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5F2C82;
    border: 2px solid #5F2C82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #2cbdb8;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    transform: translateY(-12px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em; 
    width: 100%;
    height: 40px;
    background-color:#49A09D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #219e9a;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2cbdb8;
    border: 1px solid #15a7a2;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #2cbdb8;
}

form > a.botao > i {
    font-size: 0.8em;
}